node_modules
.DS_Store
coverage
*.log
*.swp
*.out
dist/
.turbo/

packages/clefs/index.js
packages/clefs-fs/index.js
packages/clefs-googledrive/index.js
packages/clefs-localstorage/index.js
packages/clefs-simpleobject/index.js
